<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo-app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <form class="m-2 text-center form-control" method="POST">
        {% csrf_token%}
        {{form}}
        <button type="submit" class="btn btn-outline-primary">add task</button>
    </form>
    <div class="text-center">
        <ol class="m-2 shadow"> 
        {% for task in tasks %}
        <li>  {{task.task}} <a href="{% url 'delete' task.pk %}" class="display btn btn-outline-danger m-3">delete</a> <a href="{% url 'update' task.pk %}" class="display btn btn-outline-secondary m-3">update</a></li>
        {% endfor %}
       </ol>
    </div>
</body>
</html>